*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vw;
    padding: 8vw;
}

h1{
   text-align: center;
}

.timer{
    width: 70vw;
    height: 40vw;
    background-color: #e2e2e2;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 10px #555;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.days, .hours, .minutes, .seconds{
    width: 15vw;
    height: 25vw;
    background-color: #333;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    text-align: center;
    color: #999;
    font-size: 2vw;
}

#dd,#hh,#mm,#ss{
    color: #e2e2e2;
    font-size: 10vw;
}